* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

.main-div {
    height: 100%;
    width: 100%;
    background-color: #ddd3ee;
    flex-wrap: wrap;
}

.main-section {
    height: calc(100% - 130px);
    width: 100%;
}

.image-div {
    margin:20px;
    width: 40%;
}

.carroussel-image-div {
    height: 90%;
}

.carroussel-image-div img {
    height: 100%;
}

.image-title {
    font-size: 28px;
}

.form-div {
    width: calc(60% - 20px);
    min-width: 400px;
    overflow: auto;
    scrollbar-color: white #b29cd9;
    border-left: 5px solid purple; 
}

.registro-form {
    height: 100%;
    width: calc(100% - 15px);
    margin-left: 10px;
    z-index: 0;
}

.form-element {
    height: 50px;
    min-height: 50px;
    margin-bottom: 1.5%;
}

.form-label {
    font-size: 18px;
    margin-right: 10px;
}

.form-input {
    font-size: 16px;
    width: 60%;
}

.form-submit-button {
    width: 150px;
    align-self: center;
    height: 50px;
    min-height: 50px;
    font-size: 20px;
}

.form-error {
    font-size: 18px;
}

.prefijo-movil-dropdown-list {
    height: 50%;
    background-color: white;
    border: 2px solid black;
    width: 120px;
}

.prefijo-movil-dropdown-list-body {
    overflow: auto;
    min-height: 70px;
    z-index: 1;
}

.prefijo-movil-dropdown-list-main {
    background-color: blue;
    height: 100%;
}

.prefijo-movil-dropdown-list-button {
    height: 55%;
    background-color: white;
    border: 2px solid black;
    margin-right: 10px;
}

.prefijo-movil-dropdown-list-button:hover {
    background-color: #6495ED;
}

.prefijo-movil-dropdown-list-button img {
    height: 60%;
}

.upload-user-image-div {
    width: 100%;
    min-height: 200px;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.upload-user-image-div img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.upload-user-image-div input {
    display: none;
}

.image-container {
    border: 5px solid purple;
    border-radius: 50%;
    background-color: #b19cd9;
    height: 170px;
    width: 170px;
    margin-right: 10px;
}



