* {
    margin: 0;
    padding: 0;
}

hmtl {
    width: 100vw;
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #ddd3ee;
}

.main-section {
    height: calc(100% - 130px);
    min-height: 100px;
    overflow: auto;
}

.image-div {
    margin:20px;
    width: 40%;
}

.carroussel-image-div {
    height: 90%;
}

.carroussel-image-div img {
    height: 100%;
}

.image-title {
    font-size: 28px;
}

.form-div {
    background-color: red;
    width: 57%;
}

.registro-form {
    background-color: purple;
    height: 100%;
    width: 100%;
}

.form-element {
    background-color: red;
    height: 50px;
    min-height: 50px;
    margin-bottom: 1.5%;
}

.form-label {
    font-size: 18px;
    margin-right: 10px;
    background-color: green;
}

.form-input {
    font-size: 16px;
    width: 60%;
}

.form-submit-button {
    width: 150px;
    align-self: center;
    height: 50px;
    min-height: 50px;
    font-size: 20px;
}

.form-error {
    
}

.prefijo-movil-dropdown-list {
    height: 50%;
    background-color: white;
    border: 2px solid black;
    width: 120px;
}

.prefijo-movil-dropdown-list-body {
    overflow: auto;
    min-height: 100px;
}

.prefijo-movil-dropdown-list-main {
    background-color: blue;
    height: 100%;
}

.prefijo-movil-dropdown-list-button {
    height: 55%;
    background-color: white;
    border: 2px solid black;
    margin-right: 10px;
}

.prefijo-movil-dropdown-list-button:hover {
    background-color: #6495ED;
}

.prefijo-movil-dropdown-list-button img {
    height: 60%;
}

