* {
    margin: 0;
    padding: 0;
}

hmtl {
    width: 100vw;
    height: 100vh;
}

.main-section {
    width: 100%;
    overflow: auto;
    height: calc(100% - 130px);
    min-height: 100px;
    flex-wrap: wrap;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #ddd3ee;
}

