* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

.main-section {
    height: calc(100% - 130px);
    min-height: 100px;
}

.filters-section {
    height: 100%;
    width: 30%;
    max-width: 300px;
    min-width: 300px;
    background-color: #9754cb;
}

.filters-section-element {
    margin-right: 10px;
    margin-left: 10px;
}

.filters-section-title {
    text-align: center;
    font-size: 22px;
}

.articulos-section {
    background-color: #ddd3ee;
    height: 100%;
    width: 100%;
    overflow: auto;
    flex-wrap: wrap;
}