.footer-div {
    background-color: #b29cd9;
    height: 30px;
}

.footer-p {
    margin-left: 20px;
    background-color: red;
    width: 20%;
    max-height: 30px;
}

.footer-email-div {
    background-color: yellow;
    height: 100%;
    width: calc(78% - 20px);
}

