.footer-div {
    background-color: #b29cd9;
    height: 30px;
}

.footer-p {
    margin-left: 20px;
    width: 50%;
    max-height: 30px;
}

.footer-email-div {
    height: 100%;
    width: calc(50% - 20px);
}

.footer-email-div p {
    margin-right: 20px;
}

