.data-tag {
    margin: 10px;
}

.data-tag-icon {
    height: 90%;
    margin-right: 2%;
}

.data-tag-text {
    margin-left: 0 !important;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
